img {
    width: 100px;
}

@keyframes arrow {
0%{
    left: 0;
    transform: scaleX(1);
}

50% {
    left: 1700px;
    transform: scaleX(1);
}

51% {
    transform: scaleX(-1);
}

100% {
    left: 0;
    transform: scaleX(-1);
 }
}

.arrow {
    position: relative;
    animation: arrow 9s linear infinite;
}